<header class="header">
    <div class="logo-nav-container">
        <a href="#" class="logo"><img src="../../../assets/logo.png"></a>
        <span class="menu-icon">Ver menú</span>
        <nav class="navigation">
            <ul>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="#horarios">Horarios</a></li>
                <li><a href="#mapa">Taller</a></li>
            </ul>
        </nav>
    </div>
</header>