<header class="header container">
    <div class="container logo-nav-container">
        <a href="#ancla0" class="logo"><img src="../../../assets/logo png.png"></a>
        <span class="menu-icon">Ver menú</span>
        <nav class="navigation">
            <ul>
                <li><a href="#ancla1">Nosotros</a></li>
                <li><a href="#ancla2">Contacto</a></li>
                <li><a href="#ancla3">Horarios</a></li>
                <li><a href="#ancla4">Taller</a></li>
            </ul>
        </nav>
    </div>
</header>