<div id="separador"></div> <!--Borde rojo entre el banner y el contenido-->
<div class="bg ancla" id="nosotros">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <h2>Sobre nosotros</h2>
                <!--Tabla descripción-->
                <p>
                    Somos un taller mecánico de motos con más de 
                    <b>{{ year - 2008 }} años de experiencia</b>. 
                    Nos enfocamos en brindar servicios de reparación 
                    y mantenimiento de alta calidad, incluyendo instalaciones 
                    eléctricas, afinación y soldaduras, entre otros. 
                    Ofrecemos diagnóstico sin cargo para garantizar 
                    que su moto reciba la atención adecuada.
                    <br>Si está buscando un taller mecánico de motos confiable 
                    y profesional ¡Contáctenos hoy mismo!
                </p>
            </div>
            <div class="col-lg-6 col-12 iframe">
                <div>
                    <iframe class="video" width="100%" height="315" src="https://www.youtube.com/embed/shj5StU1uWY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>