<div id="separador"></div> <!--Borde rojo entre el banner y el contenido-->
<div class="bg ancla" id="nosotros">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <h2>Sobre nosotros</h2>
                <!--Tabla descripción-->
                <p>Somos un taller mecanico de motos y contamos con<br>una experiencia en el rubro de {{ year - 2008 }} años</p>
                <p>Reparación y mantenimiento en general</p>
                <p>Diagnostico sin cargo</p>
                <p>Instalaciones electricas</p>
                <p>Afinación y soldaduras</p>
                <p>Entre otros</p>
                <!--
                <div>
                    <ul>
                        <li>
                            <p>
                                Somos un taller mecanico de reparacion de motos, contamos con una experiencia de - años
                            </p>
                        </li>
                        <li>
                            <p>
                                Diagnostico sin cargo
                            </p>
                        </li>
                        <li>
                            <p>
                                Instalaciones electricas
                            </p>
                        </li>
                        <li>
                            <p>
                                Afinación
                            </p>
                        </li>
                        <li>
                            <p>
                                Soldaduras
                            </p>
                        </li>
                        <li>
                            <p>
                                Reparación de cuadros y en general
                            </p>
                        </li>
                        <li>
                            <p>
                                etc.
                            </p>
                        </li>
                    </ul>
                </div>
                -->
            </div>
            <div class="col-lg-6 col-12 iframe">
                <div>
                    <iframe class="video" width="100%" height="315" src="https://www.youtube.com/embed/shj5StU1uWY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>